.header {
  display: flex;
  height: 3em;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #ccc;
  box-shadow: 0 0 0.5em #aaa;
}

.header__title {
  // align-self: center;
  flex-shrink: 0;
  padding: 0 1em;
  font-size: 1.2em;
}

.header__options {
  // align-self: center;
  padding: 0 1em;
  flex-shrink: 0;
}
