.folder-view {
  border-bottom: solid 1px #ddd;
  width: 100%;
}

.folder-view__content {
  overflow: hidden;
  position: relative;
  background: #fff;

  .is-expanded > & {
    height: auto;
    z-index: 1;
    border-top: solid 1px #ccc;
    box-shadow: 0 0 .5em #aaa;
  }
}
