$background__color: #090;
$text__color--contrast: #fff;

.sidemenu-icon-svg {
  margin: .5em;
  cursor: pointer;
  border-radius: .5em;
  background-color: $background__color;
  padding: 0 .25em;
}

.sidemenu-icon-svg {
  fill: #fff;
}
