.sidebar__header {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar__title {
  font-size: 1.2em;
  padding: 0 1em;
}

.sidebar__close {
  height: 3em;
  width: 3em;
  line-height: 3em;
  text-align: center;
  cursor: pointer;
  @extend %clearfix;
}
