.list {
 flex: 1;
 overflow: auto;
 width: 100%;
}

.item-wrapper {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #bbb;
  margin: 2px;
}

.item-row {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 24px;
  padding: 2px;
}

.item-icon {
  width: 3em;
  margin-right: 3px;
  flex: none;
}

.item-icon--text {
  margin-left: 3px;
  font-family: Courier;
  /* font-weight: bold; */
  letter-spacing: 1px;
}

.item-icon > .anticon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.item-header {
  font-family: Courier;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1 1 auto;
}
