.list {
 flex: 1;
 overflow: auto;
 width: 100%;
}

.list-item {
  background-color: #fff;
  border-radius: 3px;
  font-family: Courier;
  flex: none;
  padding: 3px;
  margin: 0 3px;
  display: flex;
  align-items: center;
  /* min-width: 0; */
}

.list-item > .anticon {
  margin-right: .5em;
  flex: none;
}


.list-item__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1 1 auto;
}
