.list {
 flex: 1;
 overflow: auto;
 width: 100%;
}

.video {
  border-top: 1px solid #eee;
  font-family: Courier;
  padding: 3px 0;
  flex: none;
}

.video__details {
  display: flex;
  /* overflow: hidden; */
  width: 100%;
}

.folder {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 20vw;
  margin-right: 1em;
}

.title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: auto;
  margin-right: 1em;
}

.extension {
  width: 3em;
}

.size {
  width: 10em;
}

.created {
  width: 6em;
}

.is-different {
  color: #36f;
}
