<div class="video-view__name"><%- video.name %></div>
<% if (video.plot) { %>
  <div class="video-view__plot"><%- video.plot %></div>
<% } %>
<% if (video.year || video.genre || video.duration) { %>
  <div class="video-view__info">
    <span class="video-view__year"><%- video.year %></span>
    <span class="video-view__genre"><%- video.genre %></span>
  </div>
<% } %>
<% if (video.director || video.actors) { %>
  <div class="video-view__production">
    <span class="video-view__duration"><%- video.duration %></span>
  </div>
  <div class="video-view__review">
    <span class="video-view__director"><%- video.director %></span>
    <span class="video-view__actors"><%- video.actors %></span>
  </div>
<% } %>
<% if (video.awards || video.imdbVotes || video.imdbRating || video.metascore) { %>
  <div class="video-view__review">
    <span class="video-view__awards"><%- video.awards %></span>
  </div>
  <div class="video-view__review">
    <span class="video-view__imdbRating"><%- video.imdbRating %></span>
    <span class="video-view__imdbVotes"><%- video.imdbVotes %></span>
    <span class="video-view__metascore"><%- video.metascore %></span>
  </div>
<% } %>
