@import 'styles/header';

%clearfix {
  &:after{
    display: table;
    content: '';
    clear: both;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 20em;
  max-width: 100%;
  transition: left 350ms;
  background: #fff;
  border-right: solid 1px #ccc;
  box-shadow: 0 0 0.5em #aaa;

  &.is-expanded {
    left: 0;
  }
}
