.list {
 flex: 1;
 overflow: auto;
 width: 100%;
}

.list__table {
  width: 100%;
  table-layout: fixed;
  font-family: Consolas;
  /* overflow: auto; */
  /* flex: 1; */
}

.title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.folder {
  width: 12em;
}

.extension {
  width: 3em;
}

.size {
  width: 10em;
}

.created {
  width: 6em;
}
