html {
  font: normal 14px Consolas, Courier;
}
body {
  width: 960px;
  margin: auto;
}
.stat__table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

canvas{
  background: #fff;
  /*border: solid 1px #ddd;*/
  margin-bottom: 30px;
}
